/vendor
/node_modules

# Ignoră fișierul de mediu local. ACEASTA ESTE LINIA CRITICĂ!
.env

# Ignoră fișierele generate de Laravel
/public/build
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/logs/*.log
