version: '3.8'
services:
  app-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - APP_URL=${APP_URL}
    container_name: calcul_deviz_app
    restart: unless-stopped
    command: sh -c "/usr/local/bin/wait-for-it.sh mariadb-service:3306 --timeout=30 --strict -- php-fpm"
    volumes:
      - ./.env:/var/www/.env
      - app-code:/var/www
    networks:
      - calcul-deviz-network
    depends_on:
      - mariadb-service
  nginx-service:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: calcul_deviz_nginx
    restart: unless-stopped
    ports:
      - "8088:80"
    volumes:
      - app-code:/var/www
    networks:
      - calcul-deviz-network
    depends_on:
      - app-service
  mariadb-service:
    image: mariadb:latest
    container_name: calcul_deviz_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-RootParolaSigura123}
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - calcul-deviz-network
networks:
  calcul-deviz-network:
    driver: bridge
volumes:
  db-data:
    driver: local
  app-code:
    driver: local